* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    line-height: 1.15;
}

.container {
    padding: 1em;
    margin: 0 auto;
    max-width: 800px;
}

.hero-text {
    text-align: center;
}

.new-todo-form {
    margin-top: .75em;
    display: flex;
    justify-content: center;
    gap: 0.7em;
}

.todo-input {
    padding: 0.25em 0.5em;
    font-size: 1.125rem;
    border-radius: 5px;
}

/* Buttons */
.btn {
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1em;
}

.btn-primary {
    background-color: green;
}

.btn-sm {
    padding: 0.3em 0.7em;
    font-size: 0.8rem;
}

.btn-success {
    background-color: blue;
}

.btn-secondary {
    background-color: orange;
}

.btn-danger {
    background-color: red;
}

.btn-warning {
    background-color: darkgray;
}


.list-group {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-inline-start: 0;
}

.list-group-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
    justify-content: flex-end;
    margin-top: 0.25em;
}

.list-group-item::before {
    content: "•"; /* Unicode character for a bullet point */
    color: black; /* Or any color you prefer */
    font-size: 20px; /* Adjust the size of the bullet point */    
    /* No need for position:absolute; let it be a flex item */
    /* margin-right: 1em; */
}

.todo-item {
    margin-right: auto;
    flex-grow: 1;
}

.edit-list-item {
    justify-content: space-between;
}

.edit-input {
    flex-grow: 1;
    text-indent: 5px;
    text-align: left !important;
}

.edit-input::placeholder {
    text-align: left;
    float: left;
}





@media (min-width: 380px) {

}
