* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.15;
}

.container {
    padding: 1em;
    margin-top: 1.5em;
}

.hero-text {
    text-align: center;
}

.new-todo-form {
    width: 60%;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.todo-input {
    padding: 0.5em 1em;
    margin-right: 1em;
}
