<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>To-do list</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
</head>
<body>
    <div class="container">
        <div>
            <h2 class="mb-4 hero-text">To do list</h2>
        </div>
        <form class="new-todo-form">
            <input id="todo-input" 
                class="todo-input"
                type="text" 
                placeholder="New todo item"
                >
            <button 
                type="button" 
                class="btn btn-primary" 
                onclick="postTodo()"
                >
                Add
            </button>
        </form>
        <ul id="todo-list" class="list-group">
            <!-- each todo list item will be added here with <li> tag -->
        </ul>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>

</html>